$primary: #009688;
$divider: rgba(0,0,0,.12);

.ui-file-button{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}

.preview-box {
    position: fixed;
    top: 64px;
    left: 0;
    width: 210px;
    bottom: 0;
    border-right: 1px solid $divider;
    .add {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: #fff;
    }
}
.preview-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 40px;
    padding: 16px 16px 40px 16px;
    background-color: #f1f1f1;
    overflow: auto;
    .item {
        position: relative;
        width: 160px;
        height: 240px;
        margin-bottom: 16px;
        background-color: #fff;
        border: 1px solid #888;
        cursor: pointer;
        overflow: hidden;
        &.active {
            border: 1px solid $primary;
        }
        &:hover {
            opacity: .8;
            .footer {
                bottom: 0;
            }
        }
    }
    .img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .footer {
        position: absolute;
        bottom: -48px;
        left: 0;
        width: 100%;
        height: 48px;
        background-color: #fff;
        transition: all .3s;
    }
    .item-add {
        width: 160px;
        height: 240px;
        border: 1px dashed #999;
        text-align: center;
        line-height: 240px;
        cursor: pointer;
    }
}
.editor-box {
    position: absolute;
    top: 0;
    left: 210px;
    right: 0;
    bottom: 0;
    padding: 16px;
    user-select: none;
    .btns {
        margin-bottom: 16px;
        .btn {
            margin-right: 8px;
        }
    }
}
.page-editor {
    position: relative;
    width: 400px;
    height: 500px;
    border: 1px solid #999;
    overflow: hidden;
    &:hover {
        .link {
            opacity: .1;
        }
        .tag {
            opacity: .3;
        }
    }
    .img-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //overflow: auto;
        img {
            width: 100%;
        }
    }
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .link {
        position: absolute;
        background-color: #09c;
        opacity: 0;
        cursor: pointer;
        &:hover {
            opacity: .3;
        }
    }
    .tag {
        position: absolute;
        z-index: 100;
        opacity: .1;
        img {
            width: 100%;
        }
    }
    .temp-link {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 40px;
        height: 40px;
        background-color: #f00;
    }
}
/**/
.link-box {
    float: right;
    width: 300px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #666;
}
/**/
.all-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #fff;
}
.all-list {
    padding: 16px;
    .item {
        float: left;
        margin-right: 32px;
        margin-bottom: 32px;

        position: relative;
        width: 400px;
        height: 500px;
        border: 1px solid #999;
        overflow: hidden;
        position: relative;
        width: 400px;
        height: 500px;
        border: 1px solid #999;
        overflow: hidden;
        &:hover {
            .link {
                opacity: .1;
            }
        }
        img {
            width: 100%;
        }
        .link {
            position: absolute;
            background-color: #09c;
            opacity: 0;
            &:hover {
                opacity: .3;
            }
        }
    }
}
/**/
.save-box {
    position: absolute;
    align-items: center;
    left: 16px;
    bottom: 16px;
    display: flex;
    .text {
        margin-left: 16px;
        color: #999;
    }
}